.App {
  text-align: center;
  margin:0 auto;
   width:550px;
   height:auto;
   font-weight:bold;
} 
.income
{
margin:0 auto;
display:flex;
flex-direction:row;
}
li{
  list-style:none;
}
.items
{
     color:green;
     margin:10%;
     margin-top:0;
     margin-bottom:0;
}
 .adding
 {
   display:flex;
   flex-direction:row;
 }
 .expenses{
   
   margin-bottom:10%;
 }
  
 input
 {
  border:none;
  border-bottom:1px solid grey;
  text-align:center;
  font-size:25px;
 }
  input:focus, textarea:focus, select:focus 
  {
        outline: none;
  }
 .expenses button
 {
   margin-left:5%;
 }
 button:hover
 {
   cursor:pointer;
   outline:none;
 }
 button
 {
  font-weight:bold;
  border:none;
  color:white;
  cursor:auto; background:darkgrey;
  border-radius:50px;
  font-size:20px;
  height:30px;
 }
  .minus{
    border-right:10px solid red;
  }
  .plus{
    border-right:10px solid green;
  }